# SPDX-License-Identifier: Apache-2.0

[Unit]
Description=OVF vSomeIP routing manager
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/routingmanagerd
Restart=on-failure
RestartSec=1s
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true

[Install]
WantedBy=multi-user.target
